{% extends 'base.html' %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock styles%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if user.profile_pic_path %}
            <img class="img-fluid prof-pic" src=" {{url_for('static',filename = user.profile_pic_path)}} " alt=""
                width="350px">
            {%else%}
            <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
            <!-- <a href=" {{url_for('main.update_profile',usernam = user.username)}} ">Edit profile</a> -->
            <form action=" {{url_for('main.update_pic',usernam = user.username)}} " method="post"
                enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
            </form>
            {% endif %}

        </div>
        <div class="col-md-6">
                <h3>
                    {{user.username}}
                </h3>
                {% if user.bio %}
                {{user.bio}}
                {% else %}
                {{user.username}} has no bio
                {% endif %}

            </div>
            <div class="col-md-3">
                <button>
                    <a href="/user/{{user.username}}/update">Update bio

                    </a>
                </button>
            </div>
        <div class="container-fluid">
            <h1 align="center" >  {{user.username}}'s  Pitches </h1>
            <hr color="white" width="30%" align="center" style=" margin-bottom: 20px;" >
            <div class="card-deck">
                {% if pitches %}
                {% for user_pitch in pitches %}

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> {{user_pitch.category}}</h3>
                        <p class="card-text">
                            {{user_pitch.pitch}} <br>

                        </p>
                        <p class="card-text"><small class="text-muted">Created By:{{user_pitch.author}}</small></p>
                        </small></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}

                {{user.username}} has no pitches yet.
                {% endif %}

            </div>
            
            <!-- <h1>
            <h3>Pitches</h3>
            {% if pitches %}
                {% for user_pitch in pitches %}
                    <ul>
                        <li>
                            {{user_pitch.pitch}}
                        </li>
                    </ul>

                {% endfor %}

            {% else %}

            {{user.username}} has no pitches yet.
            {% endif %}

        </h1> -->
        </div>
        <!-- <div class="row">
        <div class="col-md-3">
            {% if user.profile_pic_path %}
            <img class="img-fluid prof-pic" src=" {{url_for('static',filename = user.profile_pic_path)}} " alt="" width="350px">
            {%else%}
            <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
            <a href=" {{url_for('main.update_profile',usernam = user.username)}} ">Edit profile</a>
            <form action=" {{url_for('main.update_pic',usernam = user.username)}} " method="post"
                enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
            </form>
            {% endif %}

        </div> -->
        <!-- <div class="col-md-6">
            <h3>
                {{user.username}}
            </h3>
            {% if user.bio %}
            {{user.bio}}
            {% else %}
            {{user.username}} has no bio
            {% endif %}

        </div>
        <div class="col-md-3">
            <button>
                <a href="/user/{{user.username}}/update">Update bio

                </a>
            </button>
        </div> -->
    </div>
</div>
<style>
    body {
        font-size: 150%;
        background-image: url("https://images.unsplash.com/photo-1440446627372-faa529302be0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        padding-top: 0%;
        font-family: 'Merienda', cursive;

    }

    .prof-pic {
        float: left;
        border: solid transparent;
        border-radius: 90%;
        /* margin-top: 3%;
        margin-left: 3%; */
    }
</style>
{% endblock %}