{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="container-fluid">
        <h1>
            <h3>Pitches</h3>
            {% if pitches %}
                {% for user_pitch in pitches %}
                    <ul>
                        <li>
                            {{user_pitch.pitch}}
                        </li>
                    </ul>

                {% endfor %}

            {% else %}

            {{user.username}} has no pitches yet.
            {% endif %}

        </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if user.profile_pic_path %}
            <img src=" {{url_for('static',filename = user.profile_pic_path)}} " alt="">
            {%else%}
            <p>No profile picture</p>
            {% endif %}

        </div>
        <div class="col-md-6">
            <h3>
                {{user.username}}
            </h3>
            {% if user.bio %}
            {{user.bio}}
            {% else %}
            {{user.username}} has no bio
            {% endif %}

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}