{% extends 'base.html' %}


{% block content %}
 
  <p>
    Welcome to pitch perfect.
  </p>
  <!-- <div class="pitches">
    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
      {% for pitch in pitches %}
      <h5>
        Pitch1
        {{pitch.category}}
      </h5>
      <p>
        {{pitch.pitch}}
      </p>
      <p>
        {{ pitch.author }}
      </p>
      {% endfor %}
    </div> -->
    <a href="/viewPitches/Business">Business Pitches</a>
    <a href="/viewPitches/Technology">Technology Pitches</a>
    <a href="/viewPitches/Education">Education Pitches</a>
  <div class="container-fluid">
    <h1>
      <a href="{{url_for('main.profile',usernam = current_user.username)}}">
        <button class="btn btn-danger"> View my pitches</button>
      </a>
    </h1>
  </div>
  
{% endblock %}