{% extends 'base.html' %}
{% macro display_pitches(pitches) %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>PITCHES</h1>
        <a href="/new_pitches"> <button>Create Pitch</button> </a>
    </div>
</div>
<div class="card-columns">
    {% if pitches %}
    {% for my_pitch in pitches %}
    <div class="card">
    <div class="card-body">
        <p> {{my_pitch.category}} </p>
        <p> {{my_pitch.pitch}} </p>
    </div>
    <div class="card-footer">
        <a href="/comment/{{my_pitch.id}}">Comment</a>
        <a href="/like/{{my_pitch.id}}">Like {{ my_pitch.up_vote.count() }}  </a>
        <h3>Upvotes</h3>
        <a href="/dislike/{{my_pitch.id}}">Dislike {{ my_pitch.down_vote.count() }}  </a>
        <h3>Downvotes</h3>
    </div>
</div>
{% endfor %}
{%endif%}
</div>